<footer class="bg-light text-center text-black mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: whitesmoke">
    © 2022 Copyright:
    <a class="text-black" href="#">APLMS.com</a>
  </div>
  <!-- Copyright -->
</footer>
